body{
  margin:0;
  padding:0;
  background: #120A8F; /*#2196f3*/
  background-size:cover;
  font-family: sans-serif;

}
.loginBox
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px; /* questo era 350px*/
  height: 647px; /* questo era 420px*/
  padding: 80px 40px;
  box-sizing: border-box;
  background : rgba(0,0,0,.5);
}
.logo
{
  width: 200px; /* questo era 100px*/
  height: 200px; /* questo era 100px*/
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: calc(-200px/2); /* questo era -100px/2*/
  left: calc(50% - 100px); /* questo era 50% - 50px*/
}
h2
{
  margin:0;
  padding-top: 50px;
  padding-bottom: 30px;
  /*padding: 0 0 20px;*/
  color: #efed40;
  text-align: center;
}
.loginBox p
{
  margin: 0;
  padding: 0;
  font-weight: blod;
  color: #fff;
}
.loginBox input
{
  width: 100%;
  margin-bottom: 40px; /*questo era 20*/
}
.loginBox input[type="text"],
.loginBox input[type="password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
::placeholder
{
  color: rgba(255,255,255,.5);
}
.loginBox input[type="submit"]
{
  border: none;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  background: #4F4F4F;
  cursor: pointer;
  border-radius: 20px;
}
.loginBox input[type="submit"]:hover
{
  transition-duration: 1s;
  transform: scale(1.1);
  background: #ffff00;
  color: black;
}
.loginBox a
{
  float: right;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding-top: 40%;
}
